{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        反馈详情
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form role="form" action="{:url('UserInfo')}" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label>用户名字</label>
                            <input type="text" name="username" class="form-control" value='{$data.username}'>
                        </div>
                        <div class="form-group">
                            <label>手机号</label>
                            <input type="text" name="mobile" class="form-control" value="{$data.mobile}">
                        </div>
                        <div class="form-group">
                            <label>反馈内容</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email" value="{$data.content}">
                        </div>
                        <div class="form-group">
                            <label>反馈图片</label>
                            {volist id="vo" name="$data.pic" key='k'}
                            <p><img src="{$vo}" class="img-read"></p>
                            {/volist}
                        </div>
                        <div class="form-group">
                            <label>反馈时间</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email" value="{$data.times}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}