{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        用户管理
        <small>The administrator list</small>
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
        <li class="active"></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-left">
                        <form class="form-inline" role="form" action="{:url('index')}" method="get">
                            <div class="form-group">
                                <label>关键字</label>
                                <input type="text" class="form-control" name="keywords" placeholder="用户" value="<?php echo !empty($input['keywords']) ? $input['keywords'] : ''; ?>">
                            </div>
                            <button type="submit" class="btn btn-primary">查询</button>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-center">ID</td>
                            <td class="text-center">反馈用户</td>
                            <td class="text-center">用户手机号</td>
                            <td class="text-center">反馈内容</td>
                            <td class="text-center">时间</td>
                            <!--<td class="text-center">图片</td>-->
                            <td class="text-center">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {volist id="vo" name="list"}
                        <tr>
                            <td class="text-center">{$vo.feedback_id}</td>
                            <td class="text-center">{$vo.username}</td>
                            <td class="text-center">{$vo.mobile}</td>
                            <td class="text-center">{$vo.content}</td>
                            <td class="text-center">
                                {if condition="$vo.times gt 0"}
                                Date: {:date("Y-m-d H:i:s", $vo['times'])}
                                {/if}
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-sm" href="{:url('detailed',array('feedback_id'=>$vo.feedback_id))}">详情</a>
                                <a href="javascript:;" class="btn btn-primary btn-sm" onclick="ajaxConfirm('{:url('delete', ['feedback_id'=>$vo.feedback_id])}', '您确认删除该用户吗？')">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {if condition="$page neq ''"}
                    <ul class="pagination">
                        {$page}
                    </ul>
                    {/if}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{/block}