{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        {if condition="$action_name eq 'create'"}
            添加管理员
            <small>The administrator create</small>
        {else}
            更新管理员
            <small>The administrator edit</small>
        {/if}
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
        <li class="active"></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form role="form" action="{$post_url}" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" class="form-control" name="ad_account" value="{$data.ad_account}" placeholder="Enter account">
                    </div>
                    <div class="form-group">
                        <label>头像</label>
                        <input type="file" name="avatar" placeholder="请选择管理员头像">
                        {if condition="$data.avatar neq ''"}
                        <p><img src="{$data.avatar}" class="img-read"></p>
                        {/if}
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password">
                        {if condition="$action_name neq 'create'"}
                        <p class="help-block">为空时表示不修改原密码</p>
                        {/if}
                    </div>
                    <div class="form-group">
                        <label>管理员名字</label>
                        <input type="text" class="form-control" name="ad_name" value="{$data.ad_name}" >
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="email" class="form-control" name="email" value="{$data.email}" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="status" value="1" <?php echo $data['status'] === 1 ? 'checked' : ''; ?>> 正常
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="4" <?php echo $data['status'] === 4 ? 'checked' : ''; ?>> 禁用
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>权限</label>
                        <div class="auth-two">
                            {volist id="vo" name="roles"}
                                <label class="checkbox-inline"><input name="group_ids[]" type="checkbox" value="{$vo.group_id}" <?php echo in_array($vo['group_id'], $data['group_ids'])?'checked':'' ?>/>{$vo.title} </label>
                            {/volist}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    {if condition="$data.ad_id gt 0"}
                    <input type="hidden" name="ad_id" value="{$data.ad_id}">
                    {/if}
                    <input type="hidden" name="referer_url" value="{$referer_url}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary ml-10">Reset</button>
                    <a class="btn btn-primary ml-10" href="{$referer_url}">Return</a>
                </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{/block}