{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        管理员列表
        <small>The administrator list</small>
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
        <li class="active"></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-left">
                    <form class="form-inline" role="form" action="{:url('index')}" method="get">
                        <div class="form-group">
                            <label>关键字</label>
                            <input type="text" class="form-control" name="keywords" placeholder="账号/名字/邮箱" value="<?php echo !empty($input['keywords']) ? $input['keywords'] : ''; ?>">
                        </div>
                        <div class="form-group">
                            &nbsp;&nbsp;<label>状态</label>
                            <select class="form-control" name="status">
                                <option value="">全部</option>
                                <option value="1" <?php echo !empty($input['status']) && (int)$input['status'] === 1 ? 'selected' : ''; ?>>正常</option>
                                <option value="2" <?php echo !empty($input['status']) && (int)$input['status'] === 4 ? 'selected' : ''; ?>>已禁用</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{:url('create')}">添加管理员</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">ID</td>
                                <td class="text-center">账号</td>
                                <td class="text-center">头像</td>
                                <td class="text-center">管理员名字</td>
                                <td class="text-center">邮箱</td>
                                <td class="text-center">状态</td>
                                <td class="text-center">最近登录信息</td>
                                <td class="text-center">创建时间</td>
                                <td class="text-center">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {volist id="vo" name="list"}
                            <tr>
                                <td class="text-center">{$vo.ad_id}</td>
                                <td class="text-center">{$vo.ad_account}</td>
                                <td class="text-center">
                                    {if condition="$vo.avatar neq ''"}
                                    <img src="{$vo.avatar}" class="img-read-min">
                                    {/if}
                                </td>
                                <td class="text-center">{$vo.ad_name}</td>
                                <td class="text-center">{$vo.email}</td>
                                <td class="text-center">
                                    {if condition="$vo.status eq 1"}
                                    <span class="text-success">{$vo.status_text}</span>
                                    {else}
                                    <span class="text-danger">{$vo.status_text}</span>
                                    {/if}
                                </td>
                                <td class="text-center">
                                {if condition="$vo.last_login_time gt 0"}
                                    IP: {$vo.last_login_ip}
                                    Date: {:date("Y-m-d H:i:s", $vo['last_login_time'])}
                                {else}
                                    无登录信息
                                {/if}
                                </td>
                                <td class="text-center">
                                    {:date("Y-m-d H:i:s", time())}
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-sm" href="{:url('edit', ['id'=>$vo['ad_id']])}">修改</a>
                                    <a href="javascript:;" class="btn btn-sm btn-primary" onclick="ajaxConfirm('{:url('delete', ['id'=>$vo['ad_id']])}', '您确认删除该管理员吗？')">删除</a>

                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {if condition="$page neq ''"}
                        <ul class="pagination">
                            {$page}
                        </ul>
                        {/if}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{/block}