<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{extend name="common/base" /}
        {block name="content"}
        <section class="content-header">
            <h1>
                版本控制
                <small>The administrator list</small>
            </h1>
            <ol class="breadcrumb">
                {include file="admin/breadcrumb"}
                <li class="active"></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="pull-left">
                                <form class="form-inline" role="form" action="{:url('index')}" method="get">
                                    <div class="form-group">
                                        <label>关键字</label>
                                        <input type="text" class="form-control" name="keywords" placeholder="版本号" value="<?php echo !empty($input['keywords']) ? $input['keywords'] : ''; ?>">
                                    </div>
                                    <button type="submit" class="btn btn-primary">查询</button>
                                </form>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-primary" href="{:url('create','type=1')}">添加版本</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="text-center">ID</td>
                                    <td class="text-center">版本号</td>
                                    <td class="text-center">下载地址</td>
                                    <td class="text-center">系统类型</td>
                                    <td class="text-center">添加时间</td>
                                    <td class="text-center">版本备注</td>
                                    <td class="text-center">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                {volist id="vo" name="list"}
                                <tr>
                                    <td class="text-center">{$vo.edition_id}</td>
                                    <td class="text-center">{$vo.edition_number}</td>
                                    <td class="text-center">{$vo.edition_url}</td>
                                    <td class="text-center">{$vo.type}</td>
                                    <td class="text-center">
                                        Date: {:date("Y-m-d H:i:s", $vo['addtime'])}
                                    </td>
                                    <td class="text-center">{$vo.remarks}</td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm" href="{:url('create',array('type'=>2,'edition_id'=>$vo.edition_id))}">修改</a>
                                        <a href="javascript:;" class="btn btn-sm btn-primary" onclick="ajaxConfirm('{:url('deleteEdition', ['edition_id'=>$vo.edition_id])}', '您确认删除该版本吗？')">删除</a>

                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            {if condition="$page neq ''"}
                            <ul class="pagination">
                                {$page}
                            </ul>
                            {/if}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        {/block}</title>
</head>
<body>

</body>
</html>