{extend name="common/base" /}
{block name="head"}
<style>
.auth-one{
    margin-left: 5px;
    margin-bottom: 15px;
}
.auth-one .label-one{
    font-size: 16px;
}
.auth-two{
    margin-left: 25px;
    margin-bottom: 10px;
}
.auth-two .label-two{
    font-weight: bold;
    font-size: 14px;
}
.auth-three{
    margin-left: 45px;
}
.auth-three .label-three{
    font-size: 12px;
    font-weight: normal;
}


</style>
{/block}
{block name="content"}
<section class="content-header">
    <h1>
        {if condition="$type==1"}
        添加角色
        <small>The administrator create</small>
        {else}
        修改角色
        <small>The administrator edit</small>
            {/if}
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form role="form" action="{:url('roleInfo')}" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group" style="display: none">
                            <label>角色</label>
                            <input type="text" name="group_id" class="form-control" value="{$data.group_id}">
                        </div>
                        <div class="form-group">
                            <label>角色名<span style="font-size: 2px">(user.user/index)</span></label>
                            <input type="text" name="title" class="form-control" value="{$data.title}">
                        </div>
                        <div id="rules" class="form-group">
                            <label>权限<span style="font-size: 2px"></span></label><br>
                            {volist id="vo" name="rule"}
                            <div class="auth-one">
                               <label class="label-one"><input name="Fruit[]" type="checkbox" value="{$vo.rule_id}" <?php echo in_array($vo['rule_id'],$gz)?'checked':'' ?> />{$vo.rule_title} </label>
                               {volist id="vi" name="vo.zi"}
                                <div class="auth-two">
                                    <label class="checkbox-inline label-two"><input name="Fruit[]" type="checkbox" value="{$vi.rule_id}" <?php echo in_array($vi['rule_id'],$gz)?'checked':'' ?> />{$vi.rule_title} </label>
                                    <div class="auth-three">
                                        {volist id="vp" name="vi.zi"}
                                        <label class="checkbox-inline label-three"><input name="Fruit[]" type="checkbox" value="{$vp.rule_id}" <?php echo in_array($vp['rule_id'],$gz)?'checked':'' ?> />{$vp.rule_title} </label>
                                        {/volist}
                                    </div>
                                </div>
                                {/volist}
                            </div>
                            {/volist}
                        </div>
                        <div class="form-group">
                            <label>角色状态</label>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1" <?php echo $data['status'] === 1 ? 'checked' : ''; ?>> 启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="0" <?php echo $data['status'] === 0 ? 'checked' : ''; ?>> 禁用
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="hidden" name="referer_url" value="{$referer_url}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-primary ml-10">重置</button>
                        <a class="btn btn-primary ml-10" href="{$referer_url}">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="foot"}
<script>
    $(function () {
        $('#rules input[type="checkbox"]').on('change', function() {
            var checked = $(this).prop('checked');
            var divClsName = $(this).closest('div').attr('class');
            if(checked === true){ //选中父规则，以及下面所有子规则
                if(divClsName === 'auth-three'){
                    $(this).closest('div.auth-two')
                        .children('label.label-two')
                        .find('input[type="checkbox"]')
                        .prop('checked', checked);
                    $(this).closest('div.auth-one')
                        .find('label.label-one')
                        .children('input[type="checkbox"]')
                        .prop('checked', checked);
                }
                else if(divClsName === 'auth-two'){
                    $(this).closest('div.auth-one')
                        .find('label.label-one')
                        .find('input[type="checkbox"]')
                        .prop('checked', checked);
                }
            }
            if(divClsName != 'auth-three'){
                //同步所有子规则选中状态
                $(this).closest('div')
                    .find('input[type="checkbox"]')
                    .prop('checked', checked);
            }
        });
    });
</script>
{/block}
