{extend name="common/base" /}
{block name="head"}
<style>
.auth-one{
    margin-left: 5px;
    font-size: 15px;
}
.auth-two{
    margin-left: 25px;
    font-size: 12px;
}
.auth-two .label{
    font-weight: bold !important;
}
.auth-three{
    margin-left: 45px;
    font-size: 9px;
}
.auth-three label{
    font-weight: normal;
}


</style>
{/block}
{block name="content"}
<section class="content-header">
    <h1>
        {if condition="$type==1"}
        添加角色
        <small>The administrator create</small>
        {else}
        修改角色
        <small>The administrator edit</small>
            {/if}
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form role="form" action="{:url('roleInfo')}" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group" style="display: none">
                            <label>角色</label>
                            <input type="text" name="group_id" class="form-control" value="{$data.group_id}">
                        </div>
                        <div class="form-group">
                            <label>角色名<span style="font-size: 2px">(user.user/index)</span></label>
                            <input type="text" name="title" class="form-control" value="{$data.title}">
                        </div>
                        <div class="form-group">
                            <input style="text" disabled hidden="hidden">
                            <label>权限<span style="font-size: 2px"></span></label><br>
                            {volist id="vo" name="rule"}
                            <div class="auth-one">
                               <label><input name="Fruit[]" type="checkbox" value="{$vo.rule_id}" <?php echo in_array($vo['rule_id'],$gz)?'checked':'' ?> />{$vo.rule_title} </label></div>
                               {volist id="vi" name="vo.zi"}
                                <div class="auth-two">
                                    <label class="checkbox-inline"><input name="Fruit[]" type="checkbox" value="{$vi.rule_id}" <?php echo in_array($vi['rule_id'],$gz)?'checked':'' ?> />{$vi.rule_title} </label>
                                    <div class="auth-three">
                                        {volist id="vp" name="vi.zi"}
                                        <label class="checkbox-inline"><input name="Fruit[]" type="checkbox" value="{$vp.rule_id}" <?php echo in_array($vp['rule_id'],$gz)?'checked':'' ?> />{$vp.rule_title} </label>
                                        {/volist}
                                    </div>
                                </div>
                                {/volist}
                            </div>
                            {/volist}
                        </div>
                        <div class="form-group">
                            <label>角色状态</label>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1" <?php echo $data['status'] === 1 ? 'checked' : ''; ?>> 启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="0" <?php echo $data['status'] === 0 ? 'checked' : ''; ?>> 禁用
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="hidden" name="referer_url" value="{$referer_url}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-primary ml-10">重置</button>
                        <a class="btn btn-primary ml-10" href="{$referer_url}">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
