{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        模型列表
    </h1>
    <ol class="breadcrumb">
        {include file="device/device_model/breadcrumb"}
        <li class="active"></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-left">
                    <form class="form-inline" role="form" action="{:url('index')}" method="get">
                        <div class="form-group">
                            <label>关键字</label>
                            <input type="text" class="form-control" name="keywords" placeholder="名字/编号/产品前缀" value="<?php echo !empty($input['keywords']) ? $input['keywords'] : ''; ?>">
                        </div>
                        <div class="form-group">
                            <label>分类</label>
                            <select class="form-control" name="cate_id">
                                <option value="">全部</option>
                                {volist id="vo" name="cate_list"}
                                <option value="{$vo.cate_id}" <?php echo !empty($input['cate_id']) && (int)$input['cate_id'] === $vo['cate_id'] ? 'selected' : ''; ?>>{$vo.cate_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>开启状态</label>
                            <select class="form-control" name="status">
                                <option value="">全部</option>
                                <option value="1" <?php echo !empty($input['status']) && (int)$input['status'] === 1 ? 'selected' : ''; ?>>已开启</option>
                                <option value="4" <?php echo !empty($input['status']) && (int)$input['status'] === 4 ? 'selected' : ''; ?>>已关闭</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{:url('create')}">添加模型</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">ID</td>
                                <td class="text-center">模型名称</td>
                                <td class="text-center">图标</td>
                                <td class="text-center">模型编号</td>
                                <td class="text-center">产品编号前缀</td>
                                <td class="text-center" width="20%">简介</td>
                                <td class="text-center">通讯协议</td>
                                <td class="text-center">所属分类</td>
                                <td class="text-center">是否为网关</td>
                                <td class="text-center">开启状态</td>
                                <td class="text-center">创建时间</td>
                                <td class="text-center">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {volist id="vo" name="list"}
                            <tr>
                                <td class="text-center">{$vo.model_id}</td>
                                <td class="text-center">{$vo.model_name}</td>
                                <td class="text-center">
                                    {if condition="$vo.model_cover neq ''"}
                                    <img src="{$vo.model_cover}" class="img-read-min">
                                    {/if}
                                </td>
                                <td class="text-center">{$vo.model_number}</td>
                                <td class="text-center">{$vo.product_prefix}</td>
                                <td>
                                    {$vo.summary}
                                </td>
                                <td class="text-center">
                                    {$vo.protocol_name}
                                </td>
                                <td class="text-center">
                                    <a href="{:url('index', ['cate_id'=>$vo['cate_id']])}">{$vo.cate_name}</a>
                                </td>
                                <td class="text-center">
                                    {if condition="$vo.is_gateway eq 1"}
                                        Yes
                                    {else}
                                        No
                                    {/if}
                                </td>
                                <td class="text-center">{$vo.status_text}</td>
                                <td class="text-center">
                                    {:date("Y-m-d H:i:s", $vo['create_time'])}
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-sm" href="{:url('edit', ['id'=>$vo['model_id']])}">修改</a>
                                    <a class="btn btn-warning btn-sm" href="{:url('device.deviceModelPoint/index', ['model_id'=>$vo['model_id']])}">功能点</a>
                                    <a href="javascript:;" class="btn btn-sm btn-danger" onclick="ajaxConfirm('{:url('delete', ['id'=>$vo['cate_id']])}', '您确认删除该分类吗？')">删除</a>

                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {if condition="$page neq ''"}
                        <ul class="pagination">
                            {$page}
                        </ul>
                        {/if}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{/block}