<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>

    <!--循环遍历权限列表-->
    {volist id="va" name="menu_list"}
    <?php $active = ($va['rule_id'] === $rule_level_ids['one'] ? 'active' : ''); ?>
    <?php $treeview = isset($va['child']) ? 'treeview' : ''; ?>
    <li class="{$treeview} {$active}">
        <a href="<?php echo isset($va['child']) ? '#' : url($va['rule_name']); ?>">
            <i class="fa {$va.icon}"></i> <span>{$va.rule_title}</span>
            {if condition="isset($va['child'])"}
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            {/if}
        </a>
        {if condition="isset($va['child'])"}
        <ul class="treeview-menu">
            {volist id="vb" name="va.child"}
            <?php $active = ($vb['rule_id'] === $rule_level_ids['two'] ? 'active' : ''); ?>
            <li class="{$active}"><a href="{:url($vb['rule_name'])}"><i class="fa fa-circle-o"></i> {$vb.rule_title}</a></li>
            {/volist}
        </ul>
        {/if}
    </li>
    {/volist}

    <!--
    <li class="header">LABELS</li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-aqua"></i><span>Information</span></a></li>
    -->
</ul>