<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>用户信息</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="{:url('user.user/index')}"><i class="fa fa-circle-o"></i> 用户管理</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-wifi"></i> <span>智能设备</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-user-md"></i> <span>控制台管理员</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
        </ul>
    </li>

    <li><a href="javascript:;"><i class="fa fa-file-text-o"></i> <span>后台操作日志</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-cogs"></i> <span>网站全局配置</span></a></li>

    <li class="header">LABELS</li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>