{extend name="common/base" /}
{block name="content"}
<section class="content-header">
    <h1>
        用户管理
        <small>The administrator list</small>
    </h1>
    <ol class="breadcrumb">
        {include file="admin/breadcrumb"}
        <li class="active"></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="pull-left">
                        <form class="form-inline" role="form" action="{:url('index')}" method="get">
                            <div class="form-group">
                                <label>关键字</label>
                                <input type="text" class="form-control" name="keywords" placeholder="账号/名字/邮箱" value="<?php echo !empty($input['keywords']) ? $input['keywords'] : ''; ?>">
                            </div>
                            <div class="form-group">
                                &nbsp;&nbsp;<label>状态</label>
                                <select class="form-control" name="status">
                                    <option value="">全部</option>
                                    <option value="1" <?php echo !empty($input['status']) && (int)$input['status'] === 1 ? 'selected' : ''; ?>>正常</option>
                                    <option value="2" <?php echo !empty($input['status']) && (int)$input['status'] === 4 ? 'selected' : ''; ?>>已禁用</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">查询</button>
                        </form>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{:url('create','type=1')}">添加用户</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-center">ID</td>
                            <td class="text-center">用户名</td>
                            <td class="text-center">头像</td>
                            <td class="text-center">手机号</td>
                            <td class="text-center">邮箱</td>
                            <td class="text-center">最后一次登录IP</td>
                            <td class="text-center">最后一次登录时间</td>
                            <td class="text-center">注册IP</td>
                            <td class="text-center">注册时间</td>
                            <td class="text-center">状态</td>
                            <td class="text-center">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {volist id="vo" name="list"}
                        <tr>
                            <td class="text-center">{$vo.user_id}</td>
                            <td class="text-center">{$vo.username}</td>
                            <td class="text-center">
                                {if condition="$vo.avatar neq ''"}
                                <img src="{$vo.avatar}" class="img-read-min">
                                {/if}
                            </td>
                            <td class="text-center">{$vo.mobile}</td>
                            <td class="text-center">{$vo.email}</td>
                            <td class="text-center">{$vo.last_login_ip}</td>
                            <td class="text-center">
                                {if condition="$vo.last_login_time gt 0"}
                                Date: {:date("Y-m-d H:i:s", $vo['last_login_time'])}
                                {/if}
                            </td>
                            <td class="text-center">{$vo.reg_ip}</td>
                            <td class="text-center">
                                {if condition="$vo.last_login_time gt 0"}
                                Date: {:date("Y-m-d H:i:s", $vo['reg_time'])}
                                {/if}</td>
                            <td class="text-center">
                            {if condition="$vo.status === 1"}
                                正常
                                {else/}
                                禁用
                                {/if}
                            </td>
                            <!--<td class="text-center"><a href="{:url('create',array('type'=>2,'user_id'=>$vo.user_id))}">修改</a>|<a>删除</a></td>-->
                            <td class="text-center">
                                <a class="btn btn-primary btn-sm" href="{:url('create',array('type'=>2,'user_id'=>$vo.user_id))}">修改</a>
                                <a href="javascript:;" class="btn btn-sm btn-primary" onclick="ajaxConfirm('{:url('deleteUserInfo', ['user_id'=>$vo.user_id])}', '您确认删除该管理员吗？')">删除</a>

                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {if condition="$page neq ''"}
                    <ul class="pagination">
                        {$page}
                    </ul>
                    {/if}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{/block}